@font-face {
    font-family: 'Roboto Thin';
    src: url('../fonts/Roboto-Thin.eot');
    src: url('../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Thin.woff') format('woff'),
    url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    }
    @font-face {
        font-family: 'Roboto Light';
        src: url('../fonts/Roboto-Light.eot');
        src: url('../fontsRoboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Light.woff') format('woff'),
        url('../fontsRoboto-Light.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
        }